html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../components/img/bg.jpg);
}

a{
    color: rgb(3, 255, 3);
}


#container{
    position: absolute;
    inset: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    height: 100vh;
    max-width: 100vw;
    z-index: 0; 
    overflow: hidden;
}

@font-face {
    font-family: 'Parade Normal';
    src: url('../components/fonts/Parade-Normal.otf') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* --------------------------------- Index ------------------------------ */
.foto{
    display: block;
    position:absolute;
    left: 0;
    top: 0;
    height: 600px;
    margin: 20px;
    z-index: 2;
    image-rendering: pixelated;
}

.header h1{
    color: rgb(255, 255, 255);
    position: absolute;
    margin-top: -3px;
    top: 0;
    padding: 15px;
    left: 520px;
    font-size: 60px;
    flex-wrap: wrap;
    font-family: 'Parade Normal', sans-serif;
    font-style: italic;
    font-weight: 300;
    color: #cce6ff;
    text-shadow:
        0 0 3px #9fd3ff,
        0 0 10px #7abfff,
        0 0 20px #4da6ff;
    border-right: 15px solid rgba(171, 170, 255, 0.452);
    border-bottom: 15px solid rgba(100, 100, 112, 0.397);
    border-top: 15px solid rgba(255, 255, 255, 0.103);
    border-left: 15px solid rgba(0, 0, 255, 0.13);
}

.menu{
    display: block;
    flex-direction: column;
    position: absolute;
    top: 350px;
    left: 450px;
}

ul.menu {
    color: rgb(3, 255, 3);
    display: block;
    line-height: 2em;
    font-size: 24px;
    list-style: none;
}

ul.menu li {
    position: relative;
    padding-left: 25px;
}

ul.menu li::before { 
    content: "";
    position: absolute;
    left: 0;
    top: 18px;
    width: 15px;
    height: 15px;
    background-color: rgb(255, 255, 255); 
    box-shadow: inset -2px -2px 5px 3px rgb(0, 0, 0, 0.8);
    border-radius: 50%; 
}

.gif-portfolio{
    display: block;
    position: absolute;
    top: 400px;
    left: 800px;
}

.gif-portfolio img{
    width: auto;
    height: 100px;
}

.barra-gradiente {
    height: 7px;
    width: 90%;
    background: linear-gradient(to right, #3cff00, #0400ff, #51ff00);
    display: flex;
    position: absolute;
    top: 660px;
    border-top: 1px solid white;
    border-left: 1px solid white;    
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#data-hoje{
    font-size: 20px;
    display: flex;
    position: absolute;
    color: rgb(3, 255, 3);
    top: 820px;
    left: 190px;
    z-index: 5;
}

#hora-agora{
    font-size: 20px;
    display: flex;
    position: absolute;
    color: rgb(3, 255, 3);
    top: 820px;
    right: 190px;
    z-index: 5;
}

.selos {
    position: absolute;
    top: 700px;
    display: flex;
    gap: 20px; 
    width: 100%; 
    z-index: 10;
    align-items: center; 
}

.selos img {
    padding-left: 110px;
    flex: 0 0 auto;
}

/* --------------------------------- Sobre ------------------------------ */

#container-sobre{
    position: relative;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    height: 100vh;
    z-index: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

#container-sobre .barra-gradiente{
    display: flex;
    width: 100%;
}

.cubo{
    width: 400px;
    height: 400px;
    background: linear-gradient(135deg, blue, white);   
    display: flex;
    position: absolute;
    z-index: 3;
    top: 20px;
    left: 320px;
    overflow: visible;
}

.cubo p{
    font-size: 125px;
    font-style: italic;
    font-weight: 700;
    display: flex;
    position: absolute;
    left: 120px;
    top: -90px;
    line-height: 0.9;
    color: green;
    text-shadow:
    2px 2px 5px #000,   
   -1px -1px 3px #ffffff;  
}

.img-foto{
    border: 1px solid;
    display: flex;
    height: 420px;
    width: auto;
    position: absolute;
    left: 740px;
    top: 0;
}

.conteudo-texto{
    display: flex;
    position: absolute;
    color: #51ff00;
    font-size: 18px;
    margin: 0;
    padding: 0 150px;
    width: 700px;
    top: 450px;
}

.conteudo-texto p{
    line-height: 1;
}

#container-sobre .btn-voltar{
    display: flex;
    position: absolute;
    top: 830px;
    left: 50px;
}

/* --------------------------------- Portfolio ------------------------------ */

#container-portfolio{
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    height: 100vh;
    z-index: 0; 
    overflow: hidden;
}

.header-portfolio .foto{
    height: 200px;
    box-sizing: border-box;
}

.foto img{
    height: 190px;
}

.header-portfolio h1{
    display: flex;
    position: relative;
    color: white;
    font-size: 50px;
    font-family: 'Comic Sans MS', sans-serif;
    font-style: italic;
    left: 250px;
    width: 700px;
}

.galeria{
    width: auto;
    display: flex;
    position: relative;
    top: 170px;
    left: 50px;
    gap: 20px;
    flex-wrap: wrap;
    box-sizing: border-box !important;
}

.galeria img{
    width: 270px;
}

.img-port p{
    color: aquamarine;
}

#container-portfolio .btn-voltar{
    display: flex;
    position: absolute;
    top: 830px;
    left: 50px;
}

/* --------------------------------- Contato ------------------------------ */

#container-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 4 / 3;
    height: 100vh;
    z-index: 0; 
    overflow: hidden;
    box-sizing: border-box;
}

.contato-gif{
    margin-left: auto;
    margin-right: auto;
    top: 30px;
    width: 200px;
    box-sizing: border-box;
    position: relative;
}

.form{
    display: flex;
    position: relative;
    left: 25%;
    top: 50px;
    height: 600px;
    width: 600px;
    color: #3cff00;
}

.form label{
    display: block;
    padding: 5px;
}

.form-group{
    padding: 8px;
}

input, textarea{
    width: 600px;
}

.form button{
    height: 35px;
    width: 100px;
    border-radius: 0;
    background-color: rgb(175, 175, 175);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.popup-content {
    outline: 2px dotted #5c5c5c;
    outline-offset: -8px; 
    background-color: rgb(175, 175, 175);
    color: #000000;
    padding: 30px;
    font-size: 24px;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    width: 320px;
    height: 50px;
    box-sizing: border-box;
}

.btn-popup{
    font-size: 24px;
    color: rgb(0, 0, 0);
    padding: 15px 35px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.btn-popup:hover{
    color: #151515;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

button.btn-popup{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-radius: 0px;
    background-color: rgb(211, 211, 211);
}

button.btn-popup:hover{
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-radius: 0px;
    background-color: rgb(163, 16, 16);
}

#container-contact .btn-voltar{
    display: flex;
    position: absolute;
    top: 830px;
    left: 50px;
}

/* --------------------------------- Rodapé ------------------------------ */
footer {
    position: relative;
    z-index: 9999;
}

.rodape{
    position: absolute;
    top: 865px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    color: #3cff00;
    width: 100%;
}

.rodape p{
    flex-wrap: nowrap;
}

/* ------------------------------ crt / scanline -------------------------------- */
canvas{
    display: block;
}

.crt-wrapper{
    overflow: hidden;
    height: 100vh;
}

#crt{
    position: fixed;
    inset: 0; /* top:0 right:0 bottom:0 left:0 */

    z-index: 9999;
    pointer-events: none;

    mix-blend-mode: screen; /* opcional, fica lindo */
}