body {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.toggle-awesome {
	position: absolute;
	bottom: 38px;
	display: inline-block;
	left: 50px;
	width: 60px;
	height: 15px;
	z-index: 9999;
	box-sizing: border-box;
	cursor: pointer;
}

.toggle-awesome input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider-awesome {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, #d3d3d3, #8b8b8b, #dddddd);
	transition: background-color 0.4s ease;
}

.slider-awesome:before {
	position: absolute;
	content: "";
	height: 35px;
	width: 20px;
	left: 4px;
	bottom: -10px;
	background-color: rgb(87, 87, 87);
	transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.3);
}

input:checked + .slider-awesome {
	background-color: #00ffcc;
}

input:checked + .slider-awesome:before {
	transform: translateX(30px);
}

.toggle-awesome::after {
	content: "";
	position: absolute;
	bottom: -10px; 
	left: 50%;
	transform: translateX(-50%) translateY(0);
	width: 80px;
	height: 80px;
	background-image: url("/components/img/toasty.png");
	background-size: contain;
	background-repeat: no-repeat;
	opacity: 0;
	transition:
		transform 0.5s ease,
		opacity 0.5s ease;
	pointer-events: none; 
    z-index: -1;
}

.toggle-awesome.show-easter-egg::after {
	transform: translateX(-50%) translateY(-45px);
	opacity: 1;
}