html, body{
    margin: 0;
    padding: 0;
    background-color: var(--cor-base);
    color:  var(--cor-texto);
    font-size: 18px;
    font-family: "Open Sans", sans-serif !important;
    scroll-behavior: smooth;
    transition: background-color 0.5s ease-in-out;
    --bg-dim: 0; 
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position: top center;
    transition: background-image 0.4s ease, filter 0.4s ease;  
}

.reveal{
    animation: appear linear; 
    animation-timeline: view();
    animation-range: entry 0% cover 20%;
  }

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.5;
    }

    to{
        opacity: 1;
        scale: 1;
    }
  }

:root{
    --cor-base: #ffffff;
    --cor-texto: rgb(2, 2, 2);
    --texto-hover: rgb(224, 22, 22);
    --cor-card: #2c253f;
    --btn-hover: rgb(196, 20, 20);
    --gradiente: linear-gradient(to right, #1d1630, teal);
    --sombra: 5px 5px 10px 3px rgba(0, 0, 0, 0.05);
    --txt-active: rgb(27, 27, 27);
    --color-name: teal;
    --link-redes: rgb(39, 39, 39);
    --role-size: 1.8rem;
    --role-step: 2.5rem;
 } 

/* .light{
    --cor-base: #ffffff;
    --cor-texto: rgb(37, 37, 37);
    --texto-hover: rgb(128, 128, 128);
    --btn-hover: rgb(148, 148, 148);
    --cor-card: #e2e2e2;
    transition: all 0.5s ease-in-out;
    --txt-active: #3c2775;
    --color-name: #3c2775;
    --link-redes: #3c2775;
 } */

#home,
#about,
#portfolio,
#contato {
    scroll-margin-top: 5.5em;
}
 
#logo img {
    display: block;
    float: left;
    height: 65px;
    margin-top: 5px;
    margin-left: 30px;
    border: 1px solid transparent;
    transition: filter 0.3s ease;
}

.link-logo:hover{
    box-sizing: border-box;
    border: none !important;
    border-radius: 0;
}

.logo-n{
	font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 50px;
}

.letter-c,
.rest,
.full-name {
    display: inline-block;
    transition: all 0.9s cubic-bezier(0.25, 1, 0.5, 1);
}

.rest{
    margin-left: -8px;
}

.full-name{
    position: absolute;
    left: 0;
    opacity: 0;
    transform: translateX(0);
}

.logo-n:hover .rest{
    transform: translateX(83px);
}

.logo-n:hover .full-name{
    opacity: 1;
    transform: translateX(15px);
    transition: all 0.9s cubic-bezier(0.2, 0.5, 0.3, 1);
}

 a{
    text-decoration: none;
 }

 #container{
    margin: 0;
    padding: 0 8%;
    box-sizing: border-box;
 }

 body.modal-aberto {
    overflow: hidden;
 }

 /* Botão Back to top --------------------------------------------------------------------*/

.btt {
    position: fixed;
    bottom: 20px;
    right: 40px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 36px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.6s ease;
}

#backToTop {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease;
}

#backToTop.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.6s ease;
}

.btt .rocket{
    transform: rotate(-45deg);
    font-size: 2em;
    color: var(--cor-texto);
    filter: opacity(20%);
}

.btt:hover .rocket {
    color: var(--cor-texto);
    filter: opacity(50%);
}

.btt .flame {
    color: orange;
    font-size: 26px;
    opacity: 0;
    margin-top: -10px;
    transition: opacity 0.2s ease;
    transform: rotate(180deg);
}

.btt.active {
    transform: translateY(-20px);
}

.btt.active .rocket{
    color: var(--cor-texto);
    filter: opacity(20%);
}
  
.btt.active .flame {
    opacity: 1;
    animation: tremor 0.3s infinite, brilho 1s infinite alternate;
}

@keyframes tremor {
    0% { transform: rotate(180deg); }
    25% { transform: rotate(165deg); }
    50% { transform: rotate(195deg); }
    75% { transform: rotate(165deg); }
    100% { transform: rotate(180deg); }
}
  
@keyframes brilho {
    0% { text-shadow: 0 0 5px orange; }
    100% { text-shadow: 0 0 10px red, 0 0 10px yellow; }
}
 
/* Menu ----------------------------------------------------------------------------*/
#menu-btn{
    display: none;
}

#menu{
    box-sizing: border-box;
}

header {
    height: 5.5em;
    width: 100%;
    margin: 0 auto;
    padding: 0 3rem;
	align-items: center;
    list-style: none;
    display: grid;
    grid-template-columns: auto 1fr auto;
    color: var(--cor-texto);
    box-sizing: border-box;
    box-shadow: var(--sombra);
    position: sticky;
    top: 0;
    transform: translateY(0);
    z-index: 1000; 
    transition: transform 0.3s ease-in-out;
    mix-blend-mode: difference;
    filter: invert(100);
}

header ul {
    width: 100%;
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 1.1em;
    font-weight: 500;
    gap: 5em;
}

header ul li {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 15px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

header ul li a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
    border-radius: 14px;
    transition: all 0.4s ease-in-out;
}

header ul li a:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}

.brackets-link {
    position: relative;
    display: inline-flex;
    align-items: center;
	padding: 0 .8em;
}

.brackets-link::before,
.brackets-link::after {
    position: absolute;
    font-size: 22px;
    transition: transform 0.35s ease, opacity 0.35s ease;
}

.brackets-link::before {
    content: "[";
    left: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.brackets-link::after {
    content: "]";
    right: -5px;
    top: 50%;
    transform: translateY(-50%);
}

.brackets-link:hover::before {
    transform: translateY(-50%) translateX(-12px);
}

.brackets-link:hover::after {
    transform: translateY(-50%) translateX(12px);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes spin {
    from { --angle: 0deg; }
    to   { --angle: 360deg; }
}

header ul a:link,
header ul a:visited {
    color: var(--cor-texto);
    box-sizing: border-box;
    padding: 15px;
}

header a:visited {
    color: var(--cor-texto);
}

.link-logo{
    color: var(--cor-texto);
}

/* Home -----------------------------------------------------------------------------*/
#home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 90vw;
    box-sizing: border-box;
    z-index: 2;
}

.home-left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}
  
@keyframes blink {
    50% { opacity: 0; }
} 

.home-right{
    display: flex;
}

.img-home{
    height: 80%;
    padding: 0;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    align-self: center;
    justify-content: center;
}

.img-home img{
    transform: translateX(0);
    box-sizing: border-box;
    overflow: hidden;
    transition: all 1s;
    opacity: 0.3;
}

.img-home img:hover{
    opacity: 0.04;
    transition: all 1s;
}

.txt-home-name{
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 3.5rem;
    white-space: nowrap;
}

.roles-container{
    height: var(--role-step);
    overflow: hidden;
    position: relative;
}

.roles{
    display: flex;
    flex-direction: column;
    animation: changeRole 4.5s infinite linear;
}

.role{
    display: flex;
    align-items: center;
    font-size: var(--role-size);
    line-height: 1.2;
    min-height: var(--role-step);
    color: var(--color-name);
    white-space: nowrap;
}

@keyframes changeRole {
    0%, 26% {
        transform: translateY(0);
    }
    33%, 59% {
        transform: translateY(calc(-1 * var(--role-step)));
    }
    66%, 92% {
        transform: translateY(calc(-2 * var(--role-step)));
    }
    100% {
        transform: translateY(calc(-3 * var(--role-step)));
    }
}

.btns-home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
}

.btn-cv{
    color: var(--cor-texto);
    border: 3px solid teal;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.3rem;    
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 60px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    animation: spin 3s linear infinite, surgir-esquerda 1s ease-in-out;
    cursor: pointer;
    box-shadow: var(--sombra);
    transition: background 0.5s ease-in-out;
}

.btn-cv:hover{
    color: teal;
    transition: all 0.3s ease;
}

.btn-home{
    color: white;
    background-color: teal;
    display: flex;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 25px;
    margin-top: 60px;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    animation: spin 3s linear infinite, surgir-esquerda 1s ease-in-out;
    cursor: pointer;
    box-shadow: var(--sombra);
    transition: background 0.5s ease-in-out;
}

.btn-home:hover{
    background: rgb(0, 83, 83); 
    transition: all 0.3s ease;
}

.redes-home{
    list-style: none;
    display: flex;
    align-items: center;
    top: 200px;
    margin: 0;
    padding: 0;
    z-index: 10;
    position: relative;
        i {
            font-size: 2rem;
            gap: 20px;
            color: var(--link-redes);
            transition: all 0.4s ease-in-out;
        }

        i:hover{
            color: var(--btn-hover);
            transition: all 0.4s ease-in-out;
        }

        a:visited{
            color: var(--link-redes);
        }
}

.redes-home::before{
    content: "";
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 200px;
    background-color: teal;
}

.redes-home ul {
    list-style: none;
    flex-direction: column;
    display: flex;     
    gap: 20px;         
    padding: 0;
    margin: 0;
}

@keyframes surgir-esquerda{
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Sobre ---------------------------------------------------------------------------------- */
#about {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0px 0;
    text-align: justify;
    z-index: 1;
    overflow: hidden;
    padding-bottom: 70px;
}
    
#about h2 {
    font-size: 6.5em;
    margin: 0;
    transform: translateY(-43px)
               translateX(-29px);
}

.about-content {
    display: flex;
    gap: 30px;
    padding: 0 3%;
}

#about p {
    padding: 0;
    margin: 0;
    flex: 1;
    font-size: 18px;
    color: var(--cor-texto);
    display: flex;
}

.txt-content{
    margin-top: auto;
    margin-bottom: auto;
    padding: 30px;
}

/* Portfolio --------------------------------------------------------------------*/

#portfolio{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    padding-top: 30px;
    overflow: hidden;
    padding-bottom: 70px;
}

#portfolio h2 {
    font-size: 6.5em;
    margin: 0;
    transform: translateY(-65px)
               translateX(-20px);
}

.group-card{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    align-items: flex-start;
}

.card{
    width: 49%;
    aspect-ratio: 5 / 4;
    transition: transform 0.3s ease-in-out, opacity 0.5s ease-out;
    position: relative;
    box-shadow: var(--sombra);
    cursor: pointer;
	display: flex;
	justify-content: center;
    box-sizing: border-box;
    object-fit: contain;
    overflow: hidden;
    border-radius: 15px;
}

.card:hover{
    /* transform: scale(1.03); */
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.card p{
    display: flex;
    flex-direction: column;

    margin: 0;
    flex-grow: 1; 
    box-sizing: border-box;
    font-size: 16px;
}

.card img{
    display: flex;
    border-radius: 10px 10px 0 0;
    object-fit: contain;
}

.card picture img {
    display: block;
    border-radius: 20px;
    margin: 0 auto;
}

.card a{
    color: var(--cor-texto);
}

.card a:visited{
    color: var(--cor-texto);
}

.card a:hover{
    color: var(--cor-texto);
    filter: opacity(0.8);
}

.card-info {
	position: absolute;
    display: flex;
    width: 95%;
	left: 20px;
	bottom: 15px;
    font-weight: 600;
    text-transform: uppercase;
	opacity: 0;
	transform: translateY(20px);
	transition:
		opacity .4s ease,
		transform .4s ease;

    mix-blend-mode: difference;
    filter: invert(100);
}

.card-info span:last-child {
  margin-left: auto;
}

.card:hover .card-info {
	opacity: 1;
	transform: translateY(0);
}

.card-trims picture{
    display: flex;
    justify-content: center;
}

.card-trims picture img{
    object-position: center;
}

.modal {
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6); 
    backdrop-filter: blur(20px); 
    z-index: 1000;
    box-sizing: border-box;
}

.modal.active{
    opacity: 1;
    pointer-events: auto;
}

#modal .card-actions {
    display: flex; 
    padding-left: 20px;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.modal-content h1{
    color: var(--cor-texto) !important;
    filter: opacity(60%);
}

.modal-content {
    background: white;
    padding: 40px 60px;
    border-radius: 15px;
    width: 90vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    gap: 30px;
    transform: scale(0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-content.show {
    opacity: 1;
    transform: scale(1);
}

.close-btn {
    position: absolute;
    padding: 5px;
    top: 5px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
}

.close-btn:hover{
    color: var(--cor-texto);
    filter: opacity(70%);
}

.carousel {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.carousel-images {
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-items: center;
}

.carousel-images img {
    border-radius: 10px;
}

.carousel-image {
    display: none;
    height: 100%;
    border-radius: 10px;
}

.carousel-image.active {
    display: block;
}

.carousel-btn {
    border: none;
    background-color: transparent;
    color: var(--cor-texto);
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.carousel-btn.prev {
    left: -50px;
}

.carousel-btn.next {
    right: -50px;
}

.carousel-btn.next:hover, .carousel-btn.prev:hover{   
    color: var(--cor-texto);
    filter: opacity(70%);
}
 
/* Contato --------------------------------------------------------------------*/
#contato{
    width: 99%;
    height: auto;
    display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 70px;
}

#contato h2 {
    font-size: 6.5em;
    font-weight: 500;
    margin: 0;
    transform: translateY(-43px)
               translateX(-29px);
    font-weight: 600;

}

.email{
    font-size: 18px;
    color: var(--cor-texto);
    display: inline-flex; 
    align-items: center;
    gap: 10px;
    padding: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    width: auto;
    text-decoration: none;
    width: fit-content;
    transition: all 0.2s ease-in-out;

}

.email:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.email i{
    font-size: 28px;
    color: var(--cor-texto);
    filter: opacity(60%);
    padding-right: 15px;
    transition: all 0.2s ease;
}

.wrapper-contato{
    width: 1200px;
    height: 700px;
    margin: auto;
}

.social-icons{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.social-icons ul{
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

.social-icons ul li{
    padding: 0px;
}

.social-icons i{
    color:  var(--link-redes);
    font-size: 1.8rem;
    transition: all 0.2s ease-in-out;
}

.social-icons i:hover{
    color: var(--btn-hover);
    transition: all 0.2s ease-in-out;
}

.social-icons a{
    padding: 20px;
    border-radius: 15px;
    background-color: transparent;
    display: flex;
    transition: all 0.3s ease;
    border: 3px solid transparent;
}

.redes-sociais{
    display: flex;
    flex-direction: column;
    float: left;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 15px;
}

.form{
    float: right;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.form-content {
    flex-direction: column;
}

.form label {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    color: var(--cor-texto);
}

.form-group input,
.form-group textarea {
    width: 550px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 14px;
    background: none;
    border: 1px solid grey;
    color: var(--cor-texto);
    padding-left: 10px;
}

.form-group textarea {
    padding: 10px;
}

.form-group input{
    height: 2.5em;
}

.form button{
    font-size: 24px;
    font-weight: 600;
    color: white;
    background-color: teal;
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 30px;
    border: 3px solid transparent;
    border-radius: 15px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.form button:hover{
    border: 3px solid transparent;
    background: rgb(0, 83, 83); 
    transition: all 0.3s ease;
}

.popup-alerta {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: none; 
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.popup-alerta-content {
  background: var(--cor-card);
  padding: 20px 30px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px black;
}

.popup-alerta-content p{
    margin: 15px 0 0 0;    
}

#fecharPopupAlerta{
    font-size: 22px;
    color: var(--cor-texto);
    padding: 10px 35px;
    border-radius: 14px;
    margin-top: 20px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
    linear-gradient(var(--cor-card), var(--cor-card)) padding-box, 
    var(--gradiente) border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
}

#fecharPopupAlerta:hover{
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.popup-content {
    background: var(--cor-card);
    color:  var(--cor-texto);
    padding: 30px;
    font-size: 22px;
    border-radius: 10px;
    text-align: center;
}

.btn-popup{
    font-size: 24px;
    color:  var(--cor-texto);
    padding: 15px 35px;
    border-radius: 14px;
    margin-top: 15px;
    border: 3px solid transparent;
    border-radius: 15px;
    background: 
    linear-gradient(var(--cor-card), var(--cor-card)) padding-box, 
    var(--gradiente) border-box; 
    cursor: pointer;
    transition: all 0.3s ease;
}
  
.btn-popup:hover{
    border: 3px solid transparent;
    border-radius: 15px;
    background:     
    linear-gradient(var(--cor-base), var(--cor-base)) padding-box, 
    var(--gradiente) border-box; 
    transition: all 0.3s ease;
}

/* Rodapé --------------------------------------------------------------------*/
.footer{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: relative; 
}

@media (max-width: 1440px) and (min-width: 1200px){
    
    #typewriter{
        font-size: 24px;
    }

    .btn-home{
        font-size: 22px;
        padding: 18px 20px;
   }

   .slider {
        left: -50px;
        right: 50px;
    }

    #about h1, #portfolio h1, #contato h1{
        font-size: 54px !important;
    }
    
    .about-content{
        gap: 22px;
        padding: 0 30px !important;
    }

    .about-content p{
        margin: 0;
        padding: 20px !important;
        font-size: 17px !important;
    }

    #about{
        padding: 0 !important;
    }

    .card{
        width: 415px;
        height: 500px;
    }

    .wrapper-contato{
        width: 99%;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
    }

    .modal-description{
        font-size: 16px;
    }
}

@media (max-width: 1200px) and (min-width: 992px){

    #typewriter{
        font-size: 22px;
    }

    h1{
        font-size: 50px !important;
    }

    .btn-home{
        font-size: 20px;
        padding: 15px 20px;
        margin-top: 60px;
    }
    
   .slider {
        left: -120px;
        right: 120px;
    }

    .img-home img{
        width: 500px;
        opacity: 0;
        max-width: 100%;
    }

    section#about{
        padding: 0 !important;
    }

    .about-content{
        gap: 20px;
        padding: 0 30px;
    }

    .about-content p{
        margin: 0;
        padding: 20px !important;
        font-size: 17px !important;
    }

    .modal-body{
        gap: 13px;
    }

    .modal-description{
        font-size: 16px;
        padding: 15px;
    }

    .modal-description h1{
        font-size: 32px !important;
        margin: 15px 0 !important;
    }

    #about img {
        width: 400px;
        max-width: 90%;
        padding: 0;
        margin: 0;
        display: block;
        object-fit: contain;
    }

    .wrapper-contato{
        width: 99%;
    }

    section#contato{
        box-sizing: border-box;
    }

    .form-group input,
    .form-group textarea {
        width: 450px;
    }
}

@media (max-width: 992px) and (min-width: 768px){

    #container{
        padding: 0 4%;
    }

    .slider{
        display: none;
    }

    .link-logo {
        padding: 0 !important;
        flex-wrap: nowrap;
    }

    .txt-home{
        font-size: 22px;
    }

    .btn-home{
        font-size: 20px;
        padding: 18px 22px;
        margin-top: 60px;
    }

    .logo-n{
        display: inline-block;
    }

    header ul li{
        margin: 5px;

        a{
            padding: 10px 10px !important;
        }
    }
    
    .switch {
        top: 38px;
        left: 20%;
        transform: translateX(-30%);
    }

    h1.section-title{
        font-size: 45px !important;
    }

    #about .section-title{
        width: 250px;
    }

    #about{
        gap: 15px !important;
    }

    #about p{
        padding: 0 !important;
    }

    #about img {
        width: 45%;
        max-width: 90%;
        padding: 0;
        margin: 0;
    }

    .about-content{
        gap: 20px;
        padding: 0 20px !important;
    }

    .txt-content {
        padding: 10px;
    }

    .about-content p{
        font-size: 16px;
        margin: 0;
        padding: 10px !important;
    }

    #portfolio .section-title{
        width: 205px;
    }

    .modal-description{
        font-size: 16px;
        padding: 10px;
    }

    .card-actions{
        margin: 0 !important;
    }

    .wrapper-contato{
        width: 99%;
    }

    section#contato{
        box-sizing: border-box;
    }

    .form-group input,
    .form-group textarea {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .logo-n{
        margin: 0;
    }

    #menu-btn {
        background: none;
        border: none;
        color:  var(--cor-texto);
        font-size: 1.8rem;
        cursor: pointer;
        position: relative; 
        z-index: 9999;
        transition: color 0.3s ease;
        width: 50px; 
        height: 50px;
        right: -90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #menu-btn:hover {
        color: var(--cor-texto);
        filter: opacity(60%);
    }

    /* #menu-btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        background-color: var(--cor-card); 
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: width 0.3s ease, height 0.3s ease;
        z-index: -1;
    } */

    #menu-btn:hover::before {
        width: 50px;
        height: 50px;
    }

    header {
        height: 4em;
        filter: none;
        mix-blend-mode: normal;

        ul {
            z-index: 1000;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 3.7em;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(204, 203, 203, 0.548); 
            backdrop-filter: blur(5px);
            padding: 0;
            margin: 0;
            opacity: 0;
            visibility: hidden;
            transition: 
                opacity 0.5s ease, 
                transform 0.5s cubic-bezier(0.16, 1, 0.3, 1), 
                visibility 0.5s;
            gap: 15px;

            li {
                top: -60px;
                text-align: center;
                margin:  0;
                padding: 0;

                a{
                    font-size: 26px;
                }
            }
        }
    }
 
    header ul.show {
        z-index: 1001;
        opacity: 1;
        visibility: visible;
    }


    /* Menu -------------------------------------------------------------------- */

    .switch {
        top: -60px;
        box-sizing: border-box;
    }

    /* Home -------------------------------------------------------------------- */
    #container{
        padding: 0;
        margin: 0;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        z-index: 2;
    }

    #home{
        margin: 0;
        padding: 0 0 50px 0;
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .btt{
        display: none;
    }

    .home-right{
        display: flex;
        min-width: 100vw;
    }

    .img-home{
        display: flex;
        align-items: center;
        justify-content: center;
        order: 0;
        padding: 0 0 0.5rem 0;
        margin-top: 15px;
    }

    .img-home img {
        max-width: 70%;
        transform: translateX(0);
    }

    .redes-home{
        height: 100%;
        top: 2rem;
        left: -0.5rem;
    }

    .redes-home i{
        font-size: 1.3rem;
    }

    .redes-home::before{
        top: 10rem;
        height: 130px;
    }

    .home-left{
        display: flex;
        min-width: 100vw;
    }

    .txt-home-name{
        line-height: 1.7rem;

        & span:first-child {
            font-size: 2rem;
        }

        & span:nth-child(2){
            font-size: 1.35rem;
        }
    }

    .role{
        font-size: 1.5rem !important;
    }

    .btns-home{
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .btn-cv{
        width: 11rem;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .btn-home{
        margin-top: 0;
        font-size: 1rem;
        width: 11rem;
        margin: 0;

        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }

    /* Sobre -------------------------------------------------------------- */
    #about {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    #about .section-title {
        font-size: 4.5em !important;
        width: 100vw;
        margin-left: 20px;
        letter-spacing: -6px;
        line-height: 0.8;
    }

    .about-content {
        display: flex;
        flex-direction: column;
    }

    .txt-content{
        padding: 0;
    }
      
    #about img {
        max-width: 230px;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }

    #about p {
        padding: 0 15px;
        margin: 0;
    }

    /* Portfolio -------------------------------------------------------------------- */
    #portfolio {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-top: 50px;
        padding-bottom: 30px;
    }

    #portfolio .section-title {
        padding: 20px 0 0 0;
        font-size: 4.5em !important;
        width: 100vw;
        margin-left: -10px;
        letter-spacing: -6px;
    }

    .group-card{
        display: flex;
        margin: 0;
        padding: 20px;
        flex-wrap: wrap;
        box-sizing: border-box;
        gap: 25px;
    }

    .card{
        width: 415px;
        min-height: 100%;
    }

    .card p{
        margin: 0;
        padding: 10px 0;
        text-align: justify;
    }

    .modal-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        height: 87vh;
        width: 95vw;
        padding: 13px;
    }

    #modal-img{
        border: 5px solid rgb(26, 26, 26);
        border-radius: 10px;
        display: flex;
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
    }

    #modal-second-img{
        width: 45%;
        height: auto;
        display: flex;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .close-btn{
        top: -5px !important;
        right: 10px !important;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-body h1{
        font-size: 24px;
    }

    .modal-description{
        width: 90% !important;
        padding: 0 !important;
        font-size: 15px !important;
    }

    img#modal-img{
        margin: 0 !important;
        width: 90% !important;
    }

    .modal-description h1{
        margin: 0 !important;
        font-size: 20px !important;
    }

    .carousel-btn.prev {
        left: -30px;
    }

    .carousel-btn.next {
        right: -30px;
    }

    /* Contato --------------------------------------------------------------- */
    #contato{
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        padding-bottom: 30px;
    }

    .wrapper-contato{
        width: auto;
        height: auto;
        margin: 0;
        padding: 0;
    }
    
    #contato .section-title{
        padding: 30px 0 0 0;
        font-size: 4.5em !important;
        width: 100vw;
        margin-left: 10px;
        letter-spacing: -6px;
        font-weight: 700;
    }

    #container, #home, #about, #portfolio, #contato {
        overflow: visible; 
    }

    .form{
        width: 100%;
        height: 100%;
        order: 0;
        float: none;
        margin: 0;
        padding: 25px;
    }

    #contato h2{
        flex-wrap: wrap;
        margin: 0;
    }

    .redes-sociais{
        padding: 0 15px 15px 15px;
        width: 100vw;
        height: auto;
        float: none;
    }

    .redes-sociais h3{
        margin: 0
    }

    .email{
        padding-bottom: 50px;
    }

    .form h2{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0 !important;
    }

    .form h3{
        margin: 0;
    }

    .form-group input, .form-group textarea{
        width: 100%;
    }

    .form button{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        opacity: 0;
        transform: translateX(-50px);
        transition: all 0.5s ease;
    }

    .form button.entrando {
        opacity: 1;
        transform: translateX(0);
    }

    .form button.saindo {
        opacity: 0;
        transform: translateX(-50px);
    }

    .knob-wrapper{
        display: none !important;
    }

    footer{
        height: 50px !important;
        margin: 0;
        padding: 0;
    }

    footer p{
        font-size: 14px;
        padding: 0;
        margin: 0;
    }
}