body {
	opacity: 1;
	transition: opacity 0.5s ease;
}

.knob-wrapper {
	position: absolute;
	width: 60px;
	height: 60px;
	cursor: pointer;
	bottom: 56px;
	left: 56px;
	box-sizing: border-box;
}

.knob-wrapper input {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 20;
}

.knob {
	background-color: #333;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 5px solid #424242;           
	box-sizing: border-box;
	position: absolute;
	box-shadow:
		inset 3px 3px 8px rgba(0,0,0,0.6),
		0 8px 16px rgba(0,0,0,0.4);
	pointer-events: none;
}

.knob::before {
	content: "";
	position: absolute;
	inset: -8px;                       
	border-radius: 50%;
	background: radial-gradient(circle, #22222211, #35353500);
	box-shadow: 0 0 20px rgba(100,255,200,0);
	transition: box-shadow 0.4s;
}

.knob::after {
	content: "";
	position: absolute;
	width: 6px;
	height: 22px;                      
	background: linear-gradient(to top, #e0e0e0, #ffffff);
	border-radius: 6px;
	top: -4px;                          
	left: 40%;                         
	transform: translateX(-30%) rotate(-45deg);
	transform-origin: center 26px;    
	box-shadow: 0 3px 8px rgba(63, 63, 63, 0.6);
	transition: transform 0.6s cubic-bezier(0.2, 0.8, 0.2, 1.2);
}

.knob-wrapper input:checked + .knob::after {
	transform: translateX(-30%) rotate(45deg);
	left: 55%;
	box-shadow: 0 3px 8px rgba(0,0,0,0.6);
}

.knob-wrapper input:checked + .knob {
	transition: transform 0.2s;
	box-shadow: 
        0px 0px 10px 10px rgba(43, 255, 0, 0.1);
}